{% extends "base.html" %}

{% import "macros/urls.html" as macros_urls %}

{% block content %}
<article class="apps-page">
  <div id="heading">
    <h1>{{ section.title }}</h1>
  </div>

  <ul class="friend-links-grid apps-grid">
    <li class="friend-link-card">
      <a class="friend-link-main" href="{{ macros_urls::host_relative(url=get_url(path='@/apps/unicom-login/index.md', lang=lang)) }}">
        <img class="app-link-icon" src="{{ macros_urls::host_relative(url=get_url(path='icons/china-unicom.svg')) }}" alt="中国联通" width="32" height="32">
        <span class="friend-link-meta">
          <span class="friend-link-name">联通助手</span>
          <span class="friend-link-desc">中国联通服务工具</span>
        </span>
      </a>
    </li>
    <li class="friend-link-card">
      <a class="friend-link-main" href="{{ macros_urls::host_relative(url=get_url(path='@/apps/tsinghua-benefits/index.md', lang='zh-Hans')) }}">
        <img class="app-link-icon" src="{{ macros_urls::host_relative(url=get_url(path='images/crest-tsinghua.png')) }}" alt="清华大学" width="32" height="32">
        <span class="friend-link-meta">
          <span class="friend-link-name">清华学生权益</span>
          <span class="friend-link-desc">校园服务与学生优惠入口</span>
        </span>
      </a>
    </li>
  </ul>
</article>
{% endblock content %}
